In [3]:
#3
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#1
import pandas as pd
list = [4,8,15,16,23,42]
 

ser = pd.Series(list)
 
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#2
import pandas as pd
list1 = ['a','b','c','d','e','f','g','h','i','j']
 

ser = pd.Series(list1)
 
print(ser)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [5]:
#4
#Pandas DataFrame
#The Pandas DataFrame is a two-dimensional data structure composed of columns and rows. 
#You can think of the DataFrame as similar to a CSV or relational database table. 
data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df1 = pd.DataFrame(data)

print(df1)

#Pandas Series
#The Pandas Series data structure is a one-dimensional labelled array. 
#It is the primary building block for a DataFrame, making up its rows and columns.
import pandas as pd
list1 = ['a','b','c','d','e','f','g','h','i','j']
 

ser1 = pd.Series(list1)
 
print(ser1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [6]:
#5
#1. pd.read_csv, pd.read_excel
#The first function to mention is read_csv or read_excel.

In [7]:
#6 DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable.
#

In [8]:
#7
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([22000,25000,23000], name='fees')
discount  = pd.Series([1000,2300,1000],name='discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)

   courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000